.container {
  width: 90%;
  margin: 0 auto;
}

.sect {
  padding: 3rem 0;
}

@media (min-width: 1400px) {
  .container {
    width: 1200px;
  }
}

ul {
  list-style: none;
}

a {
  display: block;
  color: var(--second-clr);
  text-decoration: none;
}

img {
  display: block;
}

button {
  outline: none;
}

.main-btn {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  background-color: transparent;
  border: 2px solid var(--second-clr);
  color: var(--second-clr);
  cursor: pointer;
  transition: all .3s ease;
  transition-property: color, background-color;
}

.main-btn:hover {
  color: var(--main-clr);
  background-color: var(--second-clr);
}

.sect-title {
  position: relative;
  padding: 1rem 2rem;
  margin: 0 auto 3rem;
  width: fit-content;
  text-transform: uppercase;
  color: white;
  background-color: var(--special-clr);
  box-shadow: 0 0 var(--second-clr);
}

.bold {
  font-weight: bold;
}