* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Trebuchet ms", sans-serif;
  background-color: #000;
  color: #fff;
  overflow: hidden;
  cursor: none;
}

a {
  cursor: none;
  text-decoration: none;
}

::selection {
  color: black;
  background-color:white
}

.cursor {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -40px;
  left: -40px;
  background-color: transparent;
  border: 1px solid white;
  z-index: -1;
}

.div {
  overflow: hidden;
}

h2 {
  padding: 0 .5rem;
  position: relative;
  font-size: clamp(2rem, 7vw , 5rem);
  text-align: center;
  letter-spacing: 4px;
  line-height: 1.5;
  text-transform: uppercase;
}

h2::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 110%;
  background-color: #fff;
  animation: move 3s ease-in-out infinite 0s alternate;
  mix-blend-mode: difference;
}

@keyframes move {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

.socials {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  font-size: clamp(1.2rem , 6vw,2rem);
  transform: translate(-50%);
}

.socials a {
  position: relative;
  letter-spacing: 3px;
  text-decoration: none;
  color: white;
  transition: all 500ms ease;
  text-transform: uppercase;
}

.socials i {
  margin-right: 1rem;
}
