@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Roboto:wght@300;400&display=swap');
@import url('components.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:root {
  --special-clr: #8F00FF;
  --special-clr-glass: #9000ffba;
  --special-clr-dark: #310653;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "open sans";
}

body.dark {
  --main-clr: #242424;
  --main-clr-2: #262626;
  --second-clr: white;
  --second-clr-2: #fafafa;
  color: white;
  background-color: var(--main-clr);
}

body.light {
  --main-clr: white;
  --main-clr-2: #fafafa;
  --second-clr: #242424;
  --second-clr-2: #262626;
  color: black;
  background-color: var(--main-clr);
}

/* ! ---------- Header Section */

header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
}

nav {
  position: relative;
  border-bottom: 1px solid var(--main-clr-2);
}

nav .container {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav p {
  font-size: clamp(1.5rem, 1.2rem, 10vw);
  font-weight: bold;
}

@media (max-width: 567px) {
  nav p  {
    font-size: 1.2rem;
  }
}

nav .links {
  display: flex;
  height: 100%;
}

@media (max-width: 992px) {
  nav .links {
    display: none;
  }
}

nav .links li a {
  height: 100%;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  transition: all .3s ease;
  transition-property: color, background-color;
}

nav .links li a.active {
  color: var(--main-clr);
  background-color: var(--second-clr)
}

nav .links li a:hover:not(.active) {
  background-color: var(--main-clr-2)
}

nav .btns {
  display: flex;
}

nav .switch-btn {
  width: 150px;
  height: 40px;
  margin-right: 1rem;
  position: relative;
  border-radius: 30px;
  cursor: pointer;
  transition: .3s;
  border: 2px solid transparent;
  background-color: var(--second-clr);
}

@media (max-width: 500px) {
  nav .btns .switch-btn {
    display: none;
  }
}

nav .switch-btn i {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  padding: .4rem;
  border-radius: 50%;
  background-color: var(--main-clr);
  color: var(--second-clr);
  transition: left .5s;
}

nav .burger-menu {
  display: none;
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  cursor: pointer;
  border: 1px solid var(--second-clr);
  color: var(--second-clr);
  background-color: var(--main-clr);
}

nav .burger-menu:hover {
  color: var(--main-clr);
  background-color: var(--second-clr);
}

@media (max-width: 992px) {
  nav .burger-menu {
    display: block;
  }
}

nav .menu {
  width: 100%;
  height: 100vh;
  padding: 1rem;
  position: fixed;
  top: 0;
  right: -100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--main-clr);
  z-index: 10;
  opacity: .98;
  transition: right .5s ease-in-out;
}

nav .menu.show {
  right: 0;
}

nav .menu button.exit {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: red;
  color: white;
  border: none;
}

nav .menu .switch-btn {
  position: absolute;
  top: 10px;
  left: 20px;
}

nav .menu li {
  align-self: stretch;
  margin: 1rem 0;
}

nav .menu li a {
  font-size: 1.5rem;
  position: relative;
  padding: 1rem;
  color: var(--second-clr);
  transition: color .5s ease;
  overflow: hidden;
}

nav .menu li a:hover {
  color: var(--main-clr);
}

nav .menu li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: var(--second-clr);
  transition: all .5s ease;
  transition-property: left;
  z-index: -1;
}

nav .menu li a:hover::before {
  left: 0;
}

section.landing {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.landing .container {
  display: grid;
  grid-template-columns: 100px 2fr 1fr;
  grid-gap: 1rem;
}

@media (max-width: 992px) {
  section.landing .container {
    grid-template-columns: 100px 1fr;
  }
}

@media (max-width: 545px) {
  section.landing .container {
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
  }
}

section.landing .socials a {
  text-align: center;
  font-size: 1.4rem;
  color: white;
  margin: 1.5rem;
  padding: .5rem;
  background-color: var(--special-clr);
  box-shadow: 5px 5px var(--second-clr);
  transform: translate(-5px, -5px);
  transition: all .3s ease;
  transition-property: transform, box-shadow;
}

@media (max-width: 545px) {
  section.landing .socials {
    order: 2;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
  }

  section.landing .socials a {
    width: 50px;
    height: 50px;
    margin: 0 1rem;
  }
}

section.landing .socials a:hover {
  transform: translate(0, 0);
  box-shadow: 0 0 var(--special-clr-dark);
}

section.landing .text h1 {
  font-size: 5rem;
}

section.landing .text p {
  font-size: 1.2rem;
}

section.landing .text p span {
  color: var(--special-clr);
  font-weight: bold;
}

section.landing .text .main-btn {
  margin-top: 2rem;
  width: fit-content;
}

section.landing img {
  max-width: 100%;
}

@media (max-width: 992px) {
  section.landing img {
    display: none;
  }
}

/* ! ---------- About Me Section */

.about {
  background-color: var(--main-clr-2);
}

.about .container {
  display: flex;
  gap: 2rem;
}

@media (max-width: 880px) {
  .about .container {
    flex-direction: column;
  }
}

.about img {
  flex: 30% 1 1;
  height: 300px;
  width: 100%;
}

@media (max-width: 880px) {
  .about img {
    margin: 0 auto;
    height: 300px;
    width: 280px;
  }
}

.about .text-box {
  flex: 70% 1 1;
}

.about .text-box p {
  line-height: 2;
}

.about .text-box .skills {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 1rem;
}

.about .text-box p.bold {
  font-size: 1.3rem;
}

.about .text-box .skills li {
  height: 140px;
  border: 2px solid var(--second-clr);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all .3s ease-in-out;
  transition-property: color, background-color;
}

.about .text-box .skills li:hover {
  background-color: var(--second-clr);
  color: var(--main-clr);
}

.about .text-box .skills li i {
  font-size: 4rem;
}

.about .text-box .skills li p {
  text-transform: capitalize;
}


/* ! ---------- My projects Section */

.projects .container {
  text-align: center;
}

.projects .container .projects-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 2rem;
}

.projects .projects-box .box {
  height: 300px;
  position: relative;
  overflow: hidden;
  box-shadow: 10px 10px var(--special-clr);
}

.projects .box img {
  max-width: 100%;
  min-height: 100%;
}

.projects .box .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--special-clr-glass);
  transition: left .5s ease-in-out;
}

.projects .projects-box .box:hover .overlay {
  left: 0;
}

.projects .box .overlay .view {
  font-size: 1.5rem;
  padding: .5rem 2rem;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  cursor: pointer;
  transition: all .3s ease;
  transition-property: color, background-color;
}

.projects .box .overlay .view:hover {
  color: var(--special-clr-dark);
  background-color: white;
}

.projects button.more {
  margin: 2rem auto 0;
}

/* ! ---------- Contact Me Section */

.contact {
  background-color: var(--main-clr-2);
}

.contact .container {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 768px) {
  .contact .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 300px;
  }
}

.contact .container .info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.contact .info ul.nums {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-decoration: 1px underline dotted;
}

.contact .info ul.nums li a:hover {
  opacity: .9;
}

.contact .info ul.socials {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1rem;
}

.contact .info ul.socials li a {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: white;
  background-color: var(--special-clr);
  transition: all .2s ease-in-out;
}

.contact .info ul.socials li a:hover {
  opacity: .8;
}

.contact img {
  width: 100%;
  max-height: 100%;
  align-self: center;
}

footer {
  padding: 1rem;
  text-align: center;
}